{{- if .Values.trustManager.enabled }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "kubetrust.fullname" . }}-trust-manager-patch
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "5"
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
  labels:
    {{- include "kubetrust.labels" . | nindent 4 }}
    app.kubernetes.io/component: trust-manager-webhook-cert-patcher
spec:
  backoffLimit: 3
  template:
    metadata:
      name: {{ include "kubetrust.fullname" . }}-trust-manager-patch
      labels:
        {{- include "kubetrust.labels" . | nindent 8 }}
        app.kubernetes.io/component: trust-manager-webhook-cert-patcher
    spec:
      serviceAccountName: {{ include "kubetrust.certgen.serviceAccountName" . }}
      restartPolicy: OnFailure
      securityContext:
        runAsNonRoot: true
        runAsUser: 65532
        seccompProfile:
          type: RuntimeDefault
      containers:
      - name: patch
        image: "{{ .Values.certGenerator.image.repository }}:{{ .Values.certGenerator.image.tag }}"
        imagePullPolicy: {{ .Values.certGenerator.image.pullPolicy }}
        args:
          - patch
          - --patch-mutating=false
          - --patch-validating=true
          - --webhook-name=trust-manager
          - --namespace=$(NAMESPACE)
          - --secret-name=trust-manager-tls
          - --patch-failure-policy=Ignore
        env:
          - name: NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          readOnlyRootFilesystem: true
        resources:
          {{- toYaml .Values.certGenerator.resources | nindent 10 }}
{{- end }}
