{{- if .Values.trustManager.enabled }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "kubetrust.fullname" . }}-trust-manager-create
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-5"
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
  labels:
    {{- include "kubetrust.labels" . | nindent 4 }}
    app.kubernetes.io/component: trust-manager-webhook-cert-generator
spec:
  backoffLimit: 3
  template:
    metadata:
      name: {{ include "kubetrust.fullname" . }}-trust-manager-create
      labels:
        {{- include "kubetrust.labels" . | nindent 8 }}
        app.kubernetes.io/component: trust-manager-webhook-cert-generator
    spec:
      serviceAccountName: {{ include "kubetrust.certgen.serviceAccountName" . }}
      restartPolicy: OnFailure
      securityContext:
        runAsNonRoot: true
        runAsUser: 65532
        seccompProfile:
          type: RuntimeDefault
      containers:
      - name: create
        image: "{{ .Values.certGenerator.image.repository }}:{{ .Values.certGenerator.image.tag }}"
        imagePullPolicy: {{ .Values.certGenerator.image.pullPolicy }}
        args:
          - create
          - --host=trust-manager,trust-manager.$(NAMESPACE).svc
          - --namespace=$(NAMESPACE)
          - --secret-name=trust-manager-tls
          - --cert-name=tls.crt
          - --key-name=tls.key
        env:
          - name: NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          readOnlyRootFilesystem: true
        resources:
          {{- toYaml .Values.certGenerator.resources | nindent 10 }}
{{- end }}
